.text-717fe0{
 color: #717fe0 !important;
}
.line-custom {
    display: inline-block; /* Hoặc block nếu cần */
    width: 100%; /* Hoặc chiều rộng mong muốn */
    height: 4px;
    background: linear-gradient(90deg, #717fe0, #000000);
    border-radius: 100px;
  }
  /* CSS */
.swal2-container-custom {
  z-index: 99999 !important;
}
.setposision{
  position: absolute !important;
}

.ontop {
  z-index: 99998 !important;
}